@using LinFx.Extensions.UI.Navigation
@inject IMenuManager _menuManager
@{
    var menus = await _menuManager.GetAllAsync();
}
<ul>
    @foreach (var menu in menus)
    {
        <li class="nav-item">
            @menu.DisplayName
            @if (!User.HasClaim(p => p.Value == menu.Name))
            {
                <span>[没权限]</span>
            }
            <ul>
                @foreach (var item in menu.Items)
                {
                    if (User.HasClaim(p => p.Value == item.Name))
                    {
                        <li>
                            <a class="nav-link text-dark" href="@item.Url">@item.DisplayName</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link text-dark" href="@item.Url">@item.DisplayName   [没权限]</a>

                        </li>
                    }
                }
            </ul>
        </li>
    }
</ul>